name: Deploy (merge na main)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Parar e subir containers
        run: |
          docker compose down || true
          docker compose up -d --build
